
@if(!isOpen())
{
    <button (click)="toggleIsOpen()">Connection</button>
}
@else {

    
    <div class="loginStyle">

    @if(isLogged())
    {
        <button (click)="logout()">Logout</button>
    }
    @else {
        
    <form [formGroup]="formGroup" (ngSubmit)="login()" class="text-center">
        <div class="p-05">
            <label>Email</label>
            <br>
            <input class="text-center" type="text" formControlName="email"/>
        </div>
        <div class="p-05">
            <label>Password</label>
            <br>
            <input class="text-center" type="text" formControlName="password"/>
        </div>

        <button  type="submit">Login</button>
    </form>
}
</div>
}
